.carousel-item {
    padding: 20px 40px;
}

.pink-bg {
    background-color: #feeae9;
}

.price-color {
    color: #ff136f;
}

.buy-now-btn {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 9px 25px;
    cursor: pointer;
}